.wrapper {
  max-width: 1471px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.green-but {
  position: static;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #fff !important;
  background-color: #17daa3;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 23.5px;
}

.green-but:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #17daa3 !important;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px #17daa3 inset;
          box-shadow: 0px 0px 0px 1px #17daa3 inset;
}

.slick-dots button:hover {
  cursor: pointer;
}

.mini-green-line {
  width: 30px;
  height: 1px;
  background-color: #B5EACC;
}

.text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.text-group .title {
  margin-bottom: 30px;
}
.text-group .description {
  margin-top: 30px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #576671;
}

.mini-green-line {
  margin-right: auto;
  margin-left: auto;
}

.description {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.45px;
  color: #87949e;
}

.header-logo:hover {
  cursor: pointer;
}

.slick-arrow:hover {
  cursor: pointer;
}

.main-section {
  background: url("../img/main-bckg.png") 0 0 no-repeat;
  background-position: center;
  height: 940px;
  position: relative;
  width: 100%;
}
.main-section .main-content {
  z-index: 3;
  color: white;
  position: relative;
}
.main-section .main-content .header {
  width: 100%;
  padding-top: 57px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-section .main-content .header .header-logo {
  font-size: 36px;
  font-weight: 100;
  line-height: 0.67;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  font-family: "Jost", sans-serif;
  margin-right: 20px;
}
.main-section .main-content .header .header-logo span {
  font-size: 60px;
  letter-spacing: 1.5px;
  color: #17daa3;
}
.main-section .main-content .header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Raleway", sans-serif;
  width: 600px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #fff;
}
.main-section .main-content .header .header-menu .header-menu-item {
  padding-top: 20px;
}
.main-section .main-content .header .header-menu .header-menu-item:hover {
  cursor: pointer;
}
.main-section .main-content .header .find {
  padding-top: 18px;
}
.main-section .main-content .header .find .loupe:hover {
  cursor: pointer;
}
.main-section .main-content .main-inf-slider {
  position: relative;
  margin-top: 190px;
}
.main-section .main-content .main-inf-slider .slick-slide {
  min-height: 300px;
}
.main-section .main-content .main-inf-slider .slick-active {
  overflow-y: visible;
}
.main-section .main-content .main-inf-slider .slick-arrow {
  font-size: 0;
  border: none;
}
.main-section .main-content .main-inf-slider .main-img-prev-arrow {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 3;
}
.main-section .main-content .main-inf-slider .main-img-next-arrow {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 3;
}
.main-section .main-content .main-inf-slider .slick-dots {
  margin-top: 40px;
  font-size: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.main-section .main-content .main-inf-slider .slick-dots .slick-active {
  background-color: #fff;
  padding: 0;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
}
.main-section .main-content .main-inf-slider .slick-dots button {
  background: transparent;
  width: 1px;
  height: 1px;
  padding: 3px;
  border: none;
  border: solid 2px #fff;
  border-radius: 50%;
  margin-right: 12px;
}
.main-section .main-content .main-inf-slider .main-slider-item {
  text-align: center;
}
.main-section .main-content .main-inf-slider .main-slider-item .main-title {
  font-family: "Barlow", sans-serif;
  font-size: 55px;
  font-weight: 300;
  letter-spacing: 0.6px;
  color: #fff;
  margin-bottom: 40px;
}
.main-section .main-content .main-inf-slider .main-slider-item .main-title span {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.main-section .main-content .main-inf-slider .main-slider-item .main-description {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 63px;
}
.main-section .main-content .main-inf-slider .main-slider-item .main-but {
  margin-top: 63px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #fff !important;
  border: solid 2px #fff;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 23.5px;
}
.main-section .main-content .main-inf-slider .main-slider-item .main-but:hover {
  cursor: pointer;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.about-us-section {
  background-color: #fff;
}
.about-us-section .about-content {
  padding-top: 110px;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us-section .about-content .about-points {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}
.about-us-section .about-content .about-points .about-point {
  max-width: 292px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-us-section .about-content .about-points .about-point .about-img-wrapper {
  margin-right: auto;
  margin-left: auto;
  background-color: #EBEDEE;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.about-us-section .about-content .about-points .about-point .about-img {
  width: 100%;
  height: 100%;
}
.about-us-section .about-content .about-points .about-point #about-img-1 {
  background: url("../img/about-img-1.png") 0 0 no-repeat;
  background-position: center;
}
.about-us-section .about-content .about-points .about-point #about-img-2 {
  background: url("../img/about-img-2.png") 0 0 no-repeat;
  background-position: center;
}
.about-us-section .about-content .about-points .about-point #about-img-3 {
  background: url("../img/about-img-3.png") 0 0 no-repeat;
  background-position: center;
}
.about-us-section .about-content .about-points .about-point #about-img-4 {
  background: url("../img/about-img-4.png") 0 0 no-repeat;
  background-position: center;
}
.about-us-section .about-content .about-points .about-point .about-title {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 3.2;
  letter-spacing: 0.75px;
  text-align: center;
  color: #000;
}
.about-us-section .about-content .about-points .about-point .about-decription {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 1.67;
  letter-spacing: 0.45px;
  color: #87949e;
}
.about-us-section .about-content .about-points .about-point:hover .about-img-wrapper {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #17daa3;
}
.about-us-section .about-content .about-points .about-point:hover .about-img-wrapper-2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #17daa3;
}
.about-us-section .about-content .about-points .about-point:hover #about-img-1 {
  background: url("../img/about-img-1-white.png") 0 0 no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us-section .about-content .about-points .about-point:hover #about-img-2 {
  background: url("../img/about-img-2-white.png") 0 0 no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us-section .about-content .about-points .about-point:hover #about-img-3 {
  background: url("../img/about-img-3-white.png") 0 0 no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us-section .about-content .about-points .about-point:hover #about-img-4 {
  background: url("../img/about-img-4-white.png") 0 0 no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us-section .about-content .green-but {
  margin-right: auto;
  margin-left: auto;
}

.description-1-section {
  background-color: #edeff1;
  height: 700px;
}
.description-1-section .description-content {
  float: right;
}

.description-2-section {
  background-color: #fff;
  height: 700px;
}
.description-2-section .description-content {
  float: left;
}

.description-content {
  margin-top: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.description-content .title {
  margin-bottom: 84px;
}
.description-content .description {
  margin-bottom: 74px;
  line-height: 2;
}
.description-content .green-but {
  margin-right: auto;
}

.adams-slider-section {
  background: url("../img/backg-2.png") 0 0 no-repeat;
  background-position: center;
  position: relative;
  height: 700px;
}
.adams-slider-section .adam-content {
  position: relative;
}
.adams-slider-section .adam-content .adams-slider {
  position: relative;
}
.adams-slider-section .adam-content .adams-slider .slick-list {
  min-height: 350px;
}
.adams-slider-section .adam-content .adams-slider .adam-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 188px;
  color: white;
  text-align: center;
}
.adams-slider-section .adam-content .adams-slider .adam-slider-item .adam-img {
  margin-right: auto;
  margin-left: auto;
  width: 105px;
  height: 105px;
  padding-bottom: 45px;
}
.adams-slider-section .adam-content .adams-slider .adam-slider-item .adam-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 38px;
}
.adams-slider-section .adam-content .adams-slider .adam-slider-item .adam-title span {
  color: #17daa3;
}
.adams-slider-section .adam-content .adams-slider .adam-slider-item .adam-description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.45px;
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 100px;
}
.adams-slider-section .adam-content .adams-slider .adam-img-next-arrow {
  position: absolute;
  top: 60%;
  right: 0;
}
.adams-slider-section .adam-content .adams-slider .adam-img-prev-arrow {
  position: absolute;
  top: 60%;
  left: 0;
}
.adams-slider-section .adam-content .adams-slider .slick-dots {
  margin-top: 40px;
  font-size: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.adams-slider-section .adam-content .adams-slider .slick-dots .slick-active {
  background-color: #fff;
  padding: 0;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 12px;
}
.adams-slider-section .adam-content .adams-slider .slick-dots button {
  background: transparent;
  width: 1px;
  height: 1px;
  padding: 3px;
  border: none;
  border: solid 2px #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.services-section {
  background-color: #f5f5f5;
}
.services-section .services-content {
  padding-top: 110px;
  padding-bottom: 50px;
}
.services-section .services-content .service-items {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-section .services-content .service-items .service-item {
  max-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding-bottom: 93px;
  margin-right: auto;
  margin-left: auto;
}
.services-section .services-content .service-items .service-item .service-img img {
  width: 32px;
  height: 32px;
}
.services-section .services-content .service-items .service-item .service-img-wrapper {
  padding-right: 50px;
}
.services-section .services-content .service-items .service-item .service-img {
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  max-width: 94px;
  max-height: 94px;
}
.services-section .services-content .service-items .service-item .title {
  margin-top: 25px;
  margin-bottom: 30px;
}
.services-section .services-content .service-items .service-item .description {
  line-height: 2.67;
  max-width: 500px;
}
.services-section .services-content .service-items .service-item:hover .service-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 0px 2px #17daa3 inset;
          box-shadow: 0px 0px 0px 2px #17daa3 inset;
}

.team-section {
  background-color: white;
}
.team-section .team-content {
  padding-top: 110px;
}
.team-section .team-content .name-items {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-section .team-content .name-items .name-item {
  width: 294px;
  height: 294px;
}
.team-section .team-content .name-items .name-item .team-name {
  display: none;
  margin-top: 130px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
}
.team-section .team-content .name-items .name-item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #17daa3;
}
.team-section .team-content .name-items .name-item:hover .team-name {
  display: block;
}
.team-section .team-content .name-items .very-grey {
  background-color: #E4E4E4;
}
.team-section .team-content .name-items .white {
  background-color: #F9F9FA;
}
.team-section .team-content .name-items .grey {
  background-color: #EEEFEF;
}
.team-section .wrapper {
  max-width: 1470px;
}

.pricing-section {
  background-color: #edeff1;
}
.pricing-section .pricing-content {
  padding-top: 110px;
  padding-bottom: 90px;
}
.pricing-section .pricing-content .pricing-blocks {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 345px;
  position: relative;
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-grey-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #edeff1;
  top: 213px;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-content {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 54px;
  padding-right: 33px;
  padding-left: 33px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-content .price {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: left;
  color: #17daa3;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-content .price-description {
  margin-top: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.45px;
  text-align: left;
  color: rgba(135, 148, 158, 0.45);
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-content .pricing-points {
  margin-top: 84px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.45px;
  text-align: left;
  color: #87949e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .pricing-block-content .pricing-points .pricing-point {
  margin-top: 30px;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 34px;
  background-color: #17daa3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button .purchase-text {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 7px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button:hover {
  padding: 0;
  padding: 19px 24px;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button:hover {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px #17daa3 inset;
          box-shadow: 0px 0px 0px 1px #17daa3 inset;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button:hover .purchase-text {
  padding-top: 10px;
  padding-left: 10px;
  color: #17daa3;
}
.pricing-section .pricing-content .pricing-blocks .pricing-block .purchase-button:hover .cart-img {
  background-color: #17daa3;
  padding: 10px;
  border-radius: 10px;
}

.map-section {
  background-color: #fff;
  position: relative;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
}
.map-section .map-content {
  padding-top: 126px;
  padding-bottom: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.map-section .map-content .map-text {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map-section .map-content .map-text .map-title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: left;
  color: #576671;
}
.map-section .map-content .map-text .map-description {
  padding-top: 84px;
  padding-bottom: 74px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.45px;
  text-align: left;
  color: #87949e;
  max-width: 700px;
}
.map-section .map-content .map-text .green-but {
  max-width: 100px;
}
.map-section .map-img {
  position: absolute;
  top: 126px;
  right: 0;
}

.try-billboard-section {
  height: 730px;
  background: url("../img/backg-3.png") 0 0 no-repeat;
  background-position: center;
}
.try-billboard-section .try-content {
  padding-top: 260px;
  padding-bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.try-billboard-section .try-content .try-title {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
}
.try-billboard-section .try-content .try-title span {
  font-weight: bold;
}
.try-billboard-section .try-content .green-but {
  margin-top: 98px;
  margin-right: auto;
  margin-left: auto;
}

.footer-section .footer-content {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-content .rights-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-section .footer-content .rights-reserved .img-logo {
  padding-right: 20px;
  width: 25px;
  height: 25px;
}
.footer-section .footer-content .footer-text {
  padding-top: 4px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.45px;
  text-align: left;
  color: #87949e;
}
.footer-section .footer-content .footer-menu {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-section .footer-content .footer-menu .footer-text {
  color: #bec9d3;
}
.footer-section .footer-content .footer-menu .footer-text span {
  color: #17daa3 !important;
}
.footer-section .footer-content .footer-menu .footer-item:hover {
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu #menu__toggle {
  opacity: 0;
}
.hamburger-menu #menu__toggle:checked + .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-menu #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.hamburger-menu #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hamburger-menu #menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.hamburger-menu .menu__btn {
  display: block;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
  top: 13px;
  right: 10px;
}
.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.hamburger-menu .menu__btn > span::before {
  content: "";
  top: -8px;
}
.hamburger-menu .menu__btn > span::after {
  content: "";
  top: 8px;
}
.hamburger-menu .menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  z-index: 11;
}
.hamburger-menu .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  text-transform: uppercase;
  text-align: center;
}
.hamburger-menu .menu__item:hover {
  background-color: #EBEDEE;
}

@media (max-width: 1840px) {
  .map-img {
    display: none !important;
  }
}
@media (max-width: 1370px) {
  .service-items {
    margin-top: 100px !important;
  }
}
@media (max-width: 1210px) {
  .about-point {
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .main-slider-item .main-title {
    font-size: 40px !important;
  }
  .main-slider-item .main-title span {
    font-size: 45px !important;
  }
  .main-slider-item .main-description {
    font-size: 18px !important;
  }

  .adam-title {
    font-size: 18px !important;
  }
}
@media (max-width: 749px) {
  .slick-arrow {
    display: none !important;
  }

  .service-items {
    padding: 0;
    width: 100%;
  }

  .footer-menu {
    display: none !important;
  }
}
@media (max-width: 550px) {
  .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .service-img-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding: 0 !important;
  }

  .service-img {
    padding: 0;
    width: 60px;
    height: 60px;
    position: relative;
  }

  .service-img img {
    position: absolute;
    top: 42px;
    left: 42px;
  }

  .hamburger-menu {
    display: block !important;
  }

  .header-menu {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .wrapper {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (max-width: 500px) {
  .main-section .slick-slide {
    min-height: 330px !important;
  }
}
@media (max-width: 360px) {
  #menu__toggle:checked ~ .menu__btn {
    position: fixed;
    top: 86px;
  }
  #menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
    background-color: #000;
  }

  .menu__box {
    width: 100% !important;
  }
}